img {
  height: 200px;
  margin-left: 100px;
}

#List {
  font-size: 16px;
}

#Work {
  font-size: medium;
}

#conclusion {
  display: flex;
  justify-content: center;
  align-content: center;
}

#Final {
  display: flex;
  justify-content: center;
  align-items: center;
}
